<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		 backupStaticAttributes="false"
		 bootstrap="vendor/autoload.php"
		 colors="true"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
>
	<testsuites>
		<testsuite name="Package Test Suite">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
			<exclude>
				<file>src/config/config.php</file>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="LOG_LEVEL" value="debug"/>
		<env name="CACHE_DRIVER" value="array"/>
		<env name="QUEUE_CONNECTION" value="sync"/>
		<env name="PROMETHEUS_EXPORTER_ADAPTER" value="memory"/>
		<env name="PROMETHEUS_EXPORTER_NAMESPACE" value="app"/>
	</php>
</phpunit>
